@import "../../variables";

.header {
	background: #fff;
    height: 70px;
    position: relative;
    padding: 0 20px;
    display: flex;
	align-items: center;

	.title {
		font-size: 18px;
		font-weight: 700;
		color: $font-color;
	}

	&:after {
		bottom: -5px;
		box-shadow: inset 0 4px 8px -3px rgba(17,17,17,.06);
		content: "";
		height: 5px;
		left: 0;
		opacity: 1;
		pointer-events: none;
		position: absolute;
		right: 0;
		width: 100%;
	}
}